<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    @* Importação do CSS do Bootstrap *@
    <link rel="stylesheet" href="~/lib/bootstrap-5.3.8-dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    
    <title>@ViewBag.Titulo - Escola de Cursos</title>
</head>
<body>
    @* Barra de Navegação *@
        <nav class="navbar navbar-expand-lg navbar-escola">
            <div class="container">

                <a class="navbar-brand" asp-controller="Home" asp-action="Index">Escola de Cursos</a>

                <button class="navbar-toggler" type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#menuNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="menuNavbar">

                    <ul class="navbar-nav ms-auto">

                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Aluno" asp-action="Listar">Alunos</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Instrutor" asp-action="Listar">Instrutores</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Turma" asp-action="Listar">Turmas</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Matricula" asp-action="Listar">Matrículas</a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>

    @* Cabeçalho da Página *@
    <header class="container py-4">
        <h2>@ViewBag.Titulo</h2>
    </header>

    @* Conteúdo da Página *@
    <main class="container-fluid conteudo-principal">
        @RenderBody()
    </main>

    
    <footer class="rodape-escola">
        <p>&copy; @DateTime.Now.Year - Escola de Cursos</p>
    </footer>

    @* Importação do JavaScript do Bootstrap *@
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>
